<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <input (keyup)="buscar()" [(ngModel)]="busqueda" type="text" placeholder="Buscar moneda" class="form-control bg-dark text-light border-0 mt-4 text-center mb-4" />
    <table class="table table-dark mat-4 table-hover">
        <thead>
            <tr>
                <th *ngFor="let title of titles">{{title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coin of filteredCoins; let i = index">
                <td>{{i+1}}</td>
                <td>
                    <img [src]="coin.image" alt="" style="width: 3rem;">
                    <span class="ms-2">{{coin.name}}</span>
                    <span class="ms-2 text-mute text-uppercase">{{coin.symbol}}</span>
                </td>
                <td>{{coin.current_price}}</td>
                <td class="{{coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'}}">{{coin.price_change_percentage_24h}}</td>
                <td>{{coin.total_volume}}</td>
            </tr>
        </tbody>
    </table>
</div>